h2 {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 23pt;
  padding-top: 50px;
  }

  /*  I'm making some minor changes here*/
li + li::before {
    content:" | ";
    color: #ccc;
  }
small {
  font-size: 15px;
}
p{
  color: #fff;
}
#header {
  background-color: #333;
  padding-top: 16px;
  /* height: 150px; */
}
.horizontal-list li {
  display: inline;
}
.node-img {
  height: 75px;
  width: 120px;
}
.nav-text {
  color: #ccc;
  font-size: 14px;
}
.ul-color {
  background-color: #333;
}
.foundation-padding{
  background-color: #026e00;
  padding-bottom: 18px;
}
.paragraph {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding-left: 4em;
  /* padding-right: 4em; */

}
.paragraph-link{
  color: #239b3f;
}
.download {
  background-color: #026e00;
  font-size: 27px;
}
.download-list-font: {
  color: #ccc;
  font-size: 9px;
}
